# Database
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=alchemical

DB_HOST=db
DB_PORT=5432
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=alchemical
DB_PATH=postgres://your_user:your_password@db:5432/alchemical?sslmode=disable

# Services
DB_SERVICE_URL=http://db-service:8081
WORKER_SERVICE_URL=http://worker-service:8082

# Redis
REDIS_ADDR=redis:6379

# Kafka
KAFKA_ADDR=kafka:29092

# gRPC
DB_SERVICE_GRPC_PORT=:50051
DB_SERVICE_GRPC=db-service:50051
WORKER_SERVICE_GRPC_PORT=:50052
WORKER_SERVICE_GRPC=worker-service:50052

# Environment: development | production
ENV=development